@model Post
@{
    ViewData["Title"] = Model.PostTitle;
}

<h2>@Model.PostTitle</h2>
<p style="color:darkblue;font-size:14px">@Model.PostTeaser</p>
<div style="text-align:center">
    <img src="@Model.PostImg" alt="@Model.PostTitle" />
</div>
<div >
    @Model.PostContent
</div>

